{% extends 'base.html' %}

{% load static %}

{% block title %}Account Settings{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8">Account Setting</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-muted" href="index.html">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">Account Setting</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="text-center mb-n5">
                        <img src="{% static 'dashboard/dist/images/breadcrumb/ChatBc.png' %}" alt="" class="img-fluid mb-n4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <ul class="nav nav-pills user-profile-tab" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-4"
                        id="pills-account-tab" data-bs-toggle="pill" data-bs-target="#pills-account" type="button"
                        role="tab" aria-controls="pills-account" aria-selected="true">
                    <i class="ti ti-user-circle me-2 fs-6"></i>
                    <span class="d-none d-md-block">Account</span>
                </button>
            </li>
        </ul>
        <div class="card-body">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-account" role="tabpanel"
                     aria-labelledby="pills-account-tab" tabindex="0">
                    <div class="row">
                        <div class="col-lg-6 d-flex align-items-stretch">
                            <div class="card w-100 position-relative overflow-hidden">
                                <div class="card-body p-4">
                                    <h5 class="card-title fw-semibold">My Profile</h5>
                                    <div class="text-center">
                                        <img src="{% static 'dashboard/dist/images/profile/user-1.jpg' %}" alt=""
                                             class="img-fluid rounded-circle my-4" width="120" height="120">

                                        <div class="mb-4">
                                            <p class="card-subtitle mb-1">Full Name</p>
                                            <h5 class="card-title fw-semibold">{{ current_user.person.last_name|lower|capfirst|default:"John" }} {{ current_user.person.first_name|lower|capfirst|default:"Doe" }}</h5>
                                        </div>
                                        <div class="mb-4">
                                            {% if current_user.matric_no %}
                                             <p class="card-subtitle mb-1">Matric No</p>
                                            <h5 class="card-title fw-semibold">{{ current_user.matric_no|default:"DU0000" }}</h5>
                                            {% else %}
                                             <p class="card-subtitle mb-1">Staff Id</p>
                                            <h5 class="card-title fw-semibold">{{ current_user.staff_id|default:"DU0000" }}</h5>
                                            {% endif %}
                                        </div>
                                        <div class="mb-4">
                                            <p class="card-subtitle mb-1">Email</p>
                                            <h5 class="card-title fw-semibold">{{ current_user.person.user.email|lower|default:"johndoe@gmail.com" }}</h5>
                                        </div>
                                        <div class="mb-4">
                                            <p class="card-subtitle mb-1">Department</p>
                                            <h5 class="card-title fw-semibold">{{ current_user.department|lower|capfirst|default:"Computer Science" }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-stretch">
                            <div class="card w-100 position-relative overflow-hidden">
                                <div class="card-body p-4">
                                    <h5 class="card-title fw-semibold">Change Password</h5>
                                    <p class="card-subtitle mb-4">To change your password please confirm here</p>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        {% include 'dashboard/form.html' with form=form %}
                                        <button type="submit" class="btn btn-primary w-100 py-8 mb-4 rounded-2">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}