<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!--  Title -->
    <title>{% block title %}{% endblock title %} | Timetable Management System</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Timetable Management System" />
    <meta name="author" content="Kolawole Dennis Olukayode" />
    <meta name="keywords" content="Timetable Management System" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/images/logo.png' %}" />
    <!-- Core Css -->
    <link  id="themeColors"  rel="stylesheet" href="{% static 'dashboard/dist/css/style.min.css' %}" />
  </head>
  <body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <div class="position-relative overflow-hidden radial-gradient min-vh-100">
        <div class="position-relative z-index-5">
          <div class="row">
            <div class="col-xl-7 col-xxl-8">
              <a href="javascript:void(0)" class="text-nowrap logo-img d-block px-4 py-9 w-100">
<!--                <img src="{% static 'dashboard/images/logo.png' %}" width="70" alt="">-->
                  <h2 class="mb-3 fs-7 fw-bolder" style="display:inline-block; margin-left:5px">AURA ACADEMY</h2>
              </a>
              <div class="d-none d-xl-flex align-items-center justify-content-center" style="height: calc(100vh - 80px);">
                <img src="{% static 'dashboard/dist/images/backgrounds/login-security.svg' %}" alt="" class="img-fluid" width="400">
              </div>
            </div>
            <div class="col-xl-5 col-xxl-4">
              <div class="authentication-login min-vh-100 bg-body row justify-content-center align-items-center p-4">
                {% block content %}
                {% endblock content %}
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <!--  Import Js Files -->
    <script src="{% static 'dashboard/dist/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/dist/libs/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'dashboard/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!--  core files -->
    <script src="{% static 'dashboard/dist/js/app.min.js' %}"></script>
    <script src="{% static 'dashboard/dist/js/app.init.js' %}"></script>
    <script src="{% static 'dashboard/dist/js/app-style-switcher.js' %}"></script>
    <script src="{% static 'dashboard/dist/js/sidebarmenu.js' %}"></script>
    
    <script src="{% static 'dashboard/dist/js/custom.js' %}"></script>
  </body>

</html>